<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75" src="https://avatars3.githubusercontent.com/u/70666352?s=460&u=21407195a4508b6b008dedfff8ad5a956956883a&v=4" alt="Fernando Callachi">
    </div>

    <div class="card-body">
        <h5 class="card-title text-center text-monospace"> {{nome}}</h5>
        <p class="card-text text-center text-monospace">Programador web junior</p>

        <a href="https://www.linkedin.com/in/fernando-callachi/" class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">LinkdIn</a>
        <a href="https://github.com/Fcallachi" class="btn btn-outline-dark mb-3 d-flex justify-content-center" target="_blank">GitHub</a>
    </div>


</div>
